<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="csvFileName" value="D:\\district.csv"/>
    <add key="connectionString" value="Server=Add your connection string here"/> <!-- Example "Server=localhost;Database=district;Uid=myUserName;Pwd=MyPassword" -->
    <add key="tableName" value="membership"/>
  </appSettings>
</configuration>